$box-shadow-value: 0 15px 35px rgba(50, 50, 93, 0.1),
  0 5px 15px rgba(0, 0, 0, 0.07);

@mixin background-color($lightColor, $darkColor) {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0, $lightColor),
    color-stop(100, $darkColor)
  );
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 0;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 50px;
  border-radius: 5px;
  box-shadow: $box-shadow-value;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}

.bg--blue-grad {
  @include background-color(#58dada, #1ca2bb);
}

.bg--green-grad {
  @include background-color(#aaffc7, #5fcc9c);
}

.bg--red-grad {
  @include background-color(#ea4c4c, #900d0d);
}

.bg--purple-grad {
  @include background-color(#bab5f6, #4d3664);
}
