#oopss {
  margin-top: 15%;
  background: linear-gradient(-45deg, #440832bb, #8d2a2a);
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  border-radius: 55px;
}
#oopss #error-text {
  font-size: 1.5rem;
  display: flex;
  margin: 5%;
  flex-direction: column;
  align-items: center;
  font-family: 'Shabnam', Tahoma, sans-serif;
  color: #000;
  word-wrap: break-word;
}

#oopss #error-text span {
  text-align: center;
  line-height: normal;
  position: relative;
  max-width: 95%;
  font-size: 2.5em;
  font-weight: 900;
  margin-bottom: 10%;
  word-wrap: break-word;
}
#oopss #error-text p.p-a {
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: 10%;
  word-wrap: break-word;
}
